<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wonderlust</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
   <div class="main">
    <nav>
        <a href="" class="nav" id="icon"><i class="fa-regular fa-compass"></i></a>
        <a href="/listings" class="nav nav1">Home</a>
        <a href="/listings" class="nav nav1"> All listing </a>
        <a href="/listings/new" class="nav nav1">Add new listings</a>
    </nav>
   </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <br>
   <br>
    <div class="container"> <%- body %> </div>
    <br><br>
    <footer>
        <div class="footer">
            <div class="inner">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <div class="inner"> &copy; wonderlust Pryvate Limited</div>
            <div class="inner">
                <a href="/privacy">privacy</a>
                <a href="/terms">Terms</a>
            </div>
        </div>
    </footer>
</body>
</html>